{% extends 'html-bootstrap5/html-bootstrap5.twig.html' %}

{% block html_body_main %}
    <div class="text-center text-danger display-6" role="alert" style="margin:7rem 0;">
        <div>Server error has been encountered while processing the request. We will try to fix it shortly.</div>
        <hr style="width:50px; margin:2rem auto; border-top:2px solid;"/>
        <div>Při zpracování požadavku došlo k chybě na straně serveru. V nejbližší době se ji budeme snažit opravit.</div>
    </div>

    {% if debug %}
    <pre>
        Error: {{error}}
        File: {{file}}
        Line: {{line}}
    </pre>
    <pre>
        {{trace}}
    </pre>
    {% endif %}
{% endblock %}

