{% extends 'html-bootstrap5/site-main-template.twig.html' %}

{% set html_title = 'My Project' %}
{% set body_class = 'container' %}
{% set html_body_header_class = 'border-bottom mb-5' %}
{% set html_body_header_h1_title = 'MY PROJECT' %}
{% set html_body_header_logo_url = 'https://openclipart.org/download/232064/Logo-Logo-White-Background.svg' %}

{% block html_styles_fonts %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap">
{% endblock %}

{% block html_styles %}
    <link rel="stylesheet" href="/assets/css/styles.css"/>
{% endblock %}






